body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f0f0f0;
}

.envelope {
    width: 200px; /* Adjust size as needed */
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.envelope.flipped {
    transform: rotateY(180deg);
}

.envelope.opened {
    transform: rotateY(180deg) rotateX(-90deg);
    transition: transform 1s ease-in-out;
}

.invitation {
    display: none;
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.invitation img {
    max-width: 300px; /* Adjust size as needed */
    transition: transform 1s ease-in-out;
}

.invitation.hidden {
    display: none;
}

.invitation.flipped img {
    transform: rotate(90deg);
}

.details {
    display: none;
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.details img {
    max-width: 300px; /* Adjust size as needed */
}

.details.hidden {
    display: none;
}
